@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  .ant-image-mask {
    cursor: url("https://suyi0509.github.io/icon/cursor-click.png"), auto !important;
  }
  a {
    cursor: url("https://suyi0509.github.io/icon/cursor-click.png"), auto !important;
  }
  button {
    cursor: url("https://suyi0509.github.io/icon/cursor-click.png"), auto !important;
  }
  cursor: url("https://suyi0509.github.io/icon/cursor-click.png"), auto !important;
}

/** -------------动态动画--------------*/
/** 上移  */
@keyframes slide-up {
  from {
    transform: translateY(100%); /* 从下边开始 */
    opacity: 0; /* 不透明度为0 */
  }
  to {
    transform: translateY(0); /* 移动到原位置 */
    opacity: 1; /* 完全不透明 */
  }
}
.slide-up-animation {
  animation: slide-up 2s ease forwards;
}

/** 渐变文字  */
@keyframes gradient {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.gradientText {
  background: linear-gradient(to right, #fff, #d4237a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 3s ease infinite;
  background-size: 200% 100%;
}

/** 滚动动态变小*/
.parallax {
  margin-top: 30%;
  position: relative;
  height: 100vh;
  perspective: 1px;
  .parallax-box{
    position: relative;
  }

  @for $i from 0 through 3 {
    .parallax-title#{$i} {
      margin-top: 58px;
      font-size: 30px;
      transform: translateY(-50%) scale(1);
      transition: transform 0.3s ease-in-out;
      will-change: transform;
      padding: 12px 0px;
    }
    .parallax-title#{$i}.active {
      transform: translateX(-20%) scale(0.6);
    }

    .parallax-context#{$i} {
      background-color: #f1f1f1;
      width: 100%;
      min-height: 150px;
      display: none;
      border-radius: 16px;
      color: #000;
      padding: 24px;
    }
    .parallax-context#{$i}.active {
      display: block;
      animation: slide-up 2s ease forwards;
    }
  }
}
