@tailwind base;
@tailwind components;
@tailwind utilities;


/** 上移  */
@keyframes slide-up {
  from {
    transform: translateY(100%); /* 从下边开始 */
    opacity: 0; /* 不透明度为0 */
  }
  to {
    transform: translateY(0); /* 移动到原位置 */
    opacity: 1; /* 完全不透明 */
  }
}

.slide-up-animation {
  animation: slide-up 2s ease forwards;
}
